@charset "UTF-8";
/* Loader*/
/* Button dégradé */
/* Fonctionnement*/
/* Coeur*/
/* Responsive*/
/* Loader */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* Heart */
@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Menu Restaurant */
@-webkit-keyframes view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: #000000;
}

body {
  width: 100%;
  margin: 0;
}

#bloc-page {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 20px 10px;
}

h2 {
  font-size: 24px;
}

/* Header accueil */
.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* Header restaurant */
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
.header__restau {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__retour {
  position: absolute;
  left: 5%;
  font-size: 19px;
}
.header__retour i {
  color: rgba(0, 0, 0, 0.74);
}

/* Header restaurant image */
img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
}

/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.74);
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: #FFF;
  margin: 0;
  font-size: 20px;
  font-weight: 270;
  padding: 10px 20px 10px;
}
@media screen and (min-width: 992px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
.footer__menu {
  display: flex;
  align-items: center;
}
.footer__menu h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 30px;
}
.footer__menu--icone {
  width: 30px;
}
.footer__menu--icone i {
  color: #FFF;
}
@media screen and (min-width: 992px) {
  .footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
  }
}

/* Loader*/
.loader {
  background: -webkit-linear-gradient(#FFF, #ff79da, #9356DC);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  -webkit-animation: loader 1s ease-in-out 2s forwards;
          animation: loader 1s ease-in-out 2s forwards;
}
.loader::before {
  content: "";
  display: block;
  position: absolute;
  left: 44%;
  top: 50%;
  width: 15px;
  height: 75px;
  background-color: #FFF;
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
}
@media screen and (min-width: 768px) {
  .loader::before {
    left: 46%;
    height: 90px;
  }
}
@media screen and (min-width: 992px) {
  .loader::before {
    left: 48%;
    top: 50%;
  }
}
.loader::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 65px;
  background-color: #FFF;
  -webkit-animation: grow 1.5s linear -0.5s infinite;
          animation: grow 1.5s linear -0.5s infinite;
}
@media screen and (min-width: 768px) {
  .loader::after {
    height: 80px;
  }
}
.loader span {
  content: "";
  display: block;
  position: absolute;
  left: 56%;
  top: 50%;
  width: 15px;
  height: 55px;
  background-color: #FFF;
  -webkit-animation: grow 1.5s linear -1s infinite;
          animation: grow 1.5s linear -1s infinite;
}
@media screen and (min-width: 768px) {
  .loader span {
    left: 54%;
    height: 70px;
  }
}
@media screen and (min-width: 992px) {
  .loader span {
    left: 52%;
  }
}

/* Header */
/* Localisation*/
.localisation {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #edecec;
  box-shadow: inset 2px 7px 9px -9px rgba(115, 115, 115, 0.75);
  padding: 15px;
}
.localisation__recherche {
  display: flex;
  justify-content: center;
}
.localisation .fa-location-dot {
  margin: 0px 6px 0px 6px;
}
.localisation input[type=search] {
  border: none;
  background-color: #edecec;
  width: 80%;
  text-align: center;
}
.localisation ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  font-weight: 500;
}
.localisation :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  font-weight: 500;
}
.localisation ::placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  font-weight: 500;
}

/* Description */
.description {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(248, 248, 248);
}
.description__titre {
  width: 80%;
  margin-bottom: 0;
}
.description__texte {
  width: 90%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.description__button-menu {
  color: #FFF;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 6px 8px 0px grey;
  padding: 15px 25px 15px 25px;
  background: linear-gradient(-5deg, #9356DC 2%, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
.description__button-menu:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 8px 0px black;
}

/* Fonctionnement */
.fonctionnement h2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 14px;
}
@media screen and (min-width: 992px) {
  .fonctionnement h2 {
    justify-content: center;
  }
  .fonctionnement__selectionall {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement__selectionall {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.fonctionnement__selection {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 6px 8px 0px rgb(220, 220, 220);
  margin: 15px 25px 25px 25px;
  background: rgb(248, 248, 248);
}
.fonctionnement__selection:hover {
  background-color: rgba(194, 180, 237, 0.3);
}
.fonctionnement__selection:hover i {
  color: #9356DC;
}
.fonctionnement__selection--nombre {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50px;
  font-size: 12px;
  padding: 5px 9px 5px 9px;
  transform: translate(-11px, 23px);
}
.fonctionnement__selection--icone {
  font-size: large;
  padding: 0px 30px;
}
.fonctionnement__selection--icone i {
  color: #797979;
}
.fonctionnement__selection--texte {
  font-size: 12px;
  padding: 0px 10px;
}
@media screen and (min-width: 992px) {
  .fonctionnement__selection {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement__selection {
    width: 60%;
  }
}

/* Restaurant */
.restaurants {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(248, 248, 248);
  padding: 0px 0px 40px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    display: flex;
    justify-content: center;
  }
}
.restaurants h2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 14px;
}
@media screen and (min-width: 992px) {
  .restaurants h2 {
    justify-content: center;
  }
}
.restaurants__cards {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .restaurants__cards {
    height: 80%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2px 5px 0px 5px;
  }
}
.restaurants__cards a {
  width: 94%;
  height: 225px;
}
@media screen and (min-width: 992px) {
  .restaurants__cards a {
    width: 45%;
    margin: 27px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__cards a {
    width: 45%;
  }
}
.restaurants__card {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 8px 5px 10px 5px #f0f2f6;
}
.restaurants__card--image {
  position: relative;
  height: 145px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card--image p {
  position: absolute;
  text-align: center;
  width: 15%;
  top: 0%;
  right: 0%;
  font-size: 10px;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 6px 5px 6px;
  margin: 0;
  color: #278870;
  background: #99e2d0;
  transform: translate(-12px, 15px);
}
.restaurants__card--descriptif {
  display: flex;
  height: 20%;
}
.restaurants__card--descriptif--info {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 10%;
  margin: 8px;
  font-size: 16px;
  line-height: 24px;
}
.restaurants__card--descriptif--info1 {
  margin: 0px;
}
.restaurants__card--descriptif--info2 {
  margin: 0px;
  font-weight: 300;
}
.restaurants__card--descriptif--heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 60px;
}
.restaurants__card--descriptif--heart .fa-heart {
  color: rgba(0, 0, 0, 0.74);
  font-size: 25px;
  font-weight: 100;
}
.restaurants__card--descriptif--heart .fa-heart:hover {
  -webkit-animation: fill 0.9s ease-in-out;
          animation: fill 0.9s ease-in-out;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -42px;
  background-color: rgb(248, 248, 248);
  border-radius: 25px 25px 0px 0px;
}
@media screen and (min-width: 992px) {
  .menu__full {
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
  }
  .menu__full .full {
    width: 36%;
  }
}
.menu__annonce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 14px 0px 14px;
}
.menu__annonce--titre {
  font-size: 26px;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
}
.menu__annonce--heart {
  font-size: 28px;
  margin: 0px 28px 0px 28px;
}
.menu__annonce--heart .fa-heart {
  color: rgba(0, 0, 0, 0.74);
  font-size: 25px;
  font-weight: 100;
}
.menu__annonce--heart .fa-heart:hover {
  -webkit-animation: fill 0.9s ease-in-out;
          animation: fill 0.9s ease-in-out;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
.menu__type {
  width: 38px;
  height: 27px;
  font-size: 15px;
  font-weight: 370;
  text-transform: uppercase;
  border-bottom: solid 3px #99E2D0;
  margin: 2px 14px 3px 14px;
}
.menu__type h3 {
  font-weight: 350;
  font-size: 15px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3px 14px 0px 14px;
}
.menu__card--choix {
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: 66px;
  border-radius: 15px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  padding: 12px 12px 11px 9px;
  margin: 7px 0px 7px 0px;
  -webkit-animation: 0.3s ease-out both, view 2s both;
          animation: 0.3s ease-out both, view 2s both;
}
.menu__card--choix:nth-child(1) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu__card--choix:nth-child(1):hover .menu__card--choix:hover--descriptif {
  width: 83%;
  transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
}
.menu__card--choix:nth-child(1):hover .menu__card--choix:hover--descriptif--valid {
  opacity: 1;
  transform: translate(-45px);
  transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
}
.menu__card--choix:nth-child(1):hover .menu__card--choix:hover.fa-circle-check {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
.menu__card--choix:nth-child(2) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menu__card--choix:nth-child(3) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.menu__card--choix:nth-child(3) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu__card--choix h4 {
  width: 85%;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card--choix--descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.menu__card--choix--descriptif p {
  width: 71%;
  font-weight: 350;
  font-size: 15px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card--choix--descriptif span {
  font-size: 16px;
  color: #464646;
  padding: 0px 6px 0px 6px;
  font-weight: bold;
}
.menu__card--choix--descriptif--valid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 100%;
  position: absolute;
  right: -50px;
  top: 0;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}
.menu__card--choix--descriptif--valid .fa-circle-check {
  color: #fff;
  font-size: 22px;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 106px 30px 106px;
}
.menu__button--commander {
  color: #FFF;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 6px 8px 0px grey;
  padding: 15px 25px 15px 25px;
  background: linear-gradient(-5deg, #9356DC 2%, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
.menu__button--commander:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 8px 0px black;
}/*# sourceMappingURL=style.css.map */