/* Footer */

.footer{
    background-color: $colour-black;
    &__logo{
        font-family:'Shrikhand',cursive;
        color: $colour-white;
        margin: 0;
        font-size: 20px;
        font-weight: 270;
        padding: 10px 20px 10px;
        @include media-min ($desktop){
            display: flex;
            justify-content: center;
        }
        @include media-min ($tablet){
            display: flex;
            justify-content: center;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
    
        h3{
            color: $colour-white;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            line-height: 30px;
        }
        &--icone{
            width: 30px;
        i{
            color: $colour-white;
        }
        }
}
    & ul{
        @include media-min ($desktop){
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            min-height: 60px;
        }

        @include media-min ($tablet){
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            min-height: 60px;
        }
    }
}