/* Localisation*/
.localisation{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #edecec;
    box-shadow: inset 2px 7px 9px -9px rgb(115 115 115 / 75%);
    padding: 15px;

    &__recherche{
        display: flex;
        justify-content: center;
    }

    .fa-location-dot{
        margin: 0px 6px 0px 6px;
    }

    input[type="search"]{
        border: none;
        background-color: #edecec;
        width: 80%;
        text-align: center;
    }
    ::placeholder{
        color: #000000;
        font-size: 16px;
        font-weight: 500;
    }
}

/* Description */
.description{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $colour-light-grey;

    &__texte{
        width: 90%;
        font-size: 18px;
        font-weight: 300;
    }

    &__button-menu{
        color: $colour-white;
        font-size: 16px;
        border-radius: 25px;
        box-shadow: 0px 6px 8px 0px grey;
        padding: 15px 25px 15px 25px;
        transform: scale(1);
        transition: transform 400ms;
            &:hover{
            transform:scale(1.1);
            }
        background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    }
}
/* Fonctionnement */
.fonctionnement{
    &__selection{
        width: 94%;
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 6px 8px 0px rgb(220, 220, 220);
        margin: 15px 25px 25px 25px;
        background: #f6f6f6;
    
            &--nombre{
            position: absolute;
            top: 23px;
            left: -15px;
            background-color: $colour-primary;
            color: $colour-white;
            border-radius: 50px;
            font-size: 12px;
            padding: 5px 9px 5px 9px;
            }

            &--icone{
                font-size: large;
                padding: 0px 30px;
            }
            &--icone i {
                color: darken($colour-light-grey, 60%);
            }
            &--texte{
                font-size: 12px;
                padding: 0px 10px;
            }
        }
}