/* Localisation*/
.localisation{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #edecec;
    box-shadow: inset 2px 7px 9px -9px rgb(115 115 115 / 75%);
    padding: 15px;

    &__recherche{
        display: flex;
        justify-content: center;
    }

    .fa-location-dot{
        margin: 0px 6px 0px 6px;
    }

    input[type="search"]{
        border: none;
        background-color: #edecec;
        width: 80%;
        text-align: center;
    }
    ::placeholder{
        color: $colour-black;
        font-size: 16px;
        font-weight: 500;
    }
}

/* Description */
.description{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $colour-light-grey;

    &__texte{
        width: 90%;
        font-size: 18px;
        font-weight: 300;
    }

    &__button-menu{
        color: $colour-white;
        background: linear-gradient(170deg, #ff79da,#e86edb,#cf64dc, #b35cdc,#9356dc);
        font-size: 16px;
        border-radius: 25px;
        box-shadow: 0px 6px 8px 0px grey;
        padding: 15px 25px 15px 25px;
    }
}
/* Fonctionnement */
.fonctionnement{
    & h2{
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    height: 360px;
    &__selection{
        width: 90%;
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 6px 8px 0px rgb(220, 220, 220);
        margin: 15px 25px 25px 25px;
        background: $colour-light-grey;
            &:hover{
                background-color: rgba(194, 180, 237, 0.3);
                i {
                    color: $colour-primary;
                }
            }
    
            &--nombre{
            position: absolute;
            top: 23px;
            left: -15px;
            background-color: $colour-primary;
            color: $colour-white;
            border-radius: 50px;
            font-size: 12px;
            padding: 5px 9px 5px 9px;
            }

            &--icone{
                font-size: large;
                padding: 0px 30px;
            }
            &--icone i {
                color: darken($colour-light-grey, 60%);
            }
            &--texte{
                font-size: 12px;
                padding: 0px 10px;
            }
        }
}

.restaurants{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:$colour-light-grey;
    padding: 0px 0px 40px;
    & h2{
        width: 48%;
        display: flex;
        justify-content: space-around;
    }
        &__cards{
            width: 100%;
            height: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__cards a {
            width: 94%;
            height: 225px;
        }
        &__card {
            border-radius: 15px;
            background-color: $colour-white;
            box-shadow: 8px 5px 10px 5px #f0f2f6;
        }
        &__card--image{
            position: relative;
            height: 145px;
            border-radius: 15px 15px 0px 0px;
            
        }
        &__card--image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        &__card--image p {
            position: absolute;
            text-align: center;
            width: 23%;
            top: 7%;
            right: 3%;
            font-size: 10px;
            font-weight: 500;
            border-radius: 2px;
            padding: 5px 6px 5px 6px;
            margin: 0;
            color: #278870;
            background: #99e2d0;
        }
        &__card--descriptif{
            display: flex;
            height: 20%;
        }
        &__card--descriptif--info{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 10%;
            margin: 8px;
            font-size: 16px;
            line-height: 24px;
        }

        &__card--descriptif--info1{
            margin: 0px;
        }
        &__card--descriptif--info2{
            margin: 0px;
            font-weight: 300;
        }
        &__card--descriptif--heart{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 60px;

        }



}