.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -42px;
    background-color: $colour-light-grey;
    border-radius: 25px 25px 0px 0px;

    &__full{
    @include media-min ($desktop){
        display: flex;
        width: 100%;
        height: 75%;
        justify-content: space-around;
        margin: 20px 0px 20px 23px;
        .full{
            width: 36%;
        }
    }
    }

    &__annonce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 14px 14px 0px 14px;
    

        &--titre {
            font-size: 26px;
            font-family: "Shrikhand", cursive;
            font-weight: 700;
        }

        &--heart {
            font-size: 28px;
            margin: 0px 28px 0px 28px;
            @include heart;
        }
    }

    &__type{
        width: 38px;
        height: 27px;
        font-size: 15px;
        font-weight: 370;
        text-transform: uppercase;
        border-bottom: solid 3px $colour-tertiary;
        margin: 2px 14px 3px 14px;

        & h3 {
            font-weight: 350;
            font-size: 15px;
        }
    }
    
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin: 3px 14px 0px 14px;

        &--choix{
            position: relative;
            background-color: $colour-white;
            width: 100%;
            height: 66px;
            border-radius: 15px;
            box-shadow: 0 3px 7px 0 rgb(0 0 0 / 20%);
            line-height: 1.5em;
            padding: 12px 12px 11px 9px;
            margin: 7px 0px 7px 0px;
            animation: 0.3s ease-out both, view 2s both;
            @include media-min($desktop) {
                width: 90%;
            }
            &:hover{
                @include check
            }


            & h4 {
                width: 85%;
                height: 22px;
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap	;
            }

            &:nth-child(1){
                animation-delay: 600ms;
            }

            &:nth-child(2){
                animation-delay: 900ms;
            }
            &:nth-child(3){
                animation-delay: 1200ms;
            }
            &:nth-child(4){
                animation-delay: 1500ms;
            }

            &--descriptif {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 1.5em;

                p {
                    width: 71%;
                    font-weight: 350;
                    font-size: 15px;
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            
                span{
                    font-size: 16px;
                    color: darken($colour-light-grey, 70%);
                    padding: 0px 6px 0px 6px;
                    font-weight: bold;
                }

            &--valid {
                @include flex-center;
                width: 58px;
                height: 100%;
                position: absolute;
                right: -50px;
                top: 0;
                background-color: $colour-tertiary;
                border-radius: 0px 15px 15px 0px;
                opacity: 0;

                & .fa-circle-check {
                    color: #fff;
                    font-size: 22px;    
                    }
                
                }
    
            }   
        }
    }

    &__button{
        @include flex-center;
        margin: 30px 106px 30px 106px;

    }
    
    &__button--commander{
        @include btn; 
        @include btn_dégradé;
        }
}

 


