/* Loader*/
@mixin loader{
    background:-webkit-linear-gradient( $colour-white, $colour-secondary,$colour-primary);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    animation: loader 1s ease-in-out 2s forwards;
        
        &::before{
            content:'';
            display: block;
            position: absolute;
            left: 44%;
            top: 50%;   
            width: 15px;
            height: 75px;
            background-color: $colour-white;
            animation: grow 1.5s linear infinite;

            @include media-min($tablet) {
                left: 46%;
                height: 90px;
            }
            @include media-min($desktop) {
                left: 48%;
                top: 50%;  
            }
        }
        &::after{
            content:'';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;      
            width: 15px;
            height: 65px;
            background-color: $colour-white;
            animation: grow 1.5s linear -.5s infinite;
            @include media-min($tablet) {
                height: 80px;
            }

        }
        & span {
            content:'';
            display: block;
            position: absolute;
            left: 56%;
            top: 50%;   
            width: 15px;
            height: 55px;
            background-color: $colour-white;
            animation: grow 1.5s linear -1s infinite;
            @include media-min($tablet) {
                left: 54%;
                height: 70px;
            }
            @include media-min($desktop) {
                left: 52%;
  
            }

        }
    }
    




@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Button dégradé */
@mixin btn{
    color: $colour-white;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0px 6px 8px 0px grey;
    padding: 15px 25px 15px 25px;
    &:hover{
        opacity: 0.7;
        box-shadow: 0px 6px 8px 0px darken($color:grey, $amount: 60%);
    }
}

@mixin btn_dégradé{
    background: linear-gradient(-5deg, $colour-primary 2%, #b35cdc, #cf64dc, #e86edb, $colour-secondary);
}

/* Fonctionnement*/

@mixin tuto{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 6px 8px 0px rgb(220, 220, 220);
    margin: 15px 25px 25px 25px;
    background: $colour-light-grey;
        &:hover{
            background-color: rgba(194, 180, 237, 0.3);
            i {
                color: $colour-primary;
            }
        }
        &--nombre{
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $colour-primary;
        color: $colour-white;
        border-radius: 50px;
        font-size: 12px;
        padding: 5px 9px 5px 9px;
        transform: translate(-11px, 23px);
        }
        &--icone{
            font-size: large;
            padding: 0px 30px;
        }
        &--icone i {
            color: darken($colour-light-grey, 50%);
        }
        &--texte{
            font-size: 12px;
            padding: 0px 10px;
        }
}



/* Coeur*/
@mixin heart {
    .fa-heart {
        color: $colour-black;
        font-size: 25px;
        font-weight: 100;
        &:hover{
            animation: fill 0.9s ease-in-out ;
            background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background-clip: text;
            font-weight: bold;
            -webkit-text-fill-color: transparent;
        }
    }
}    

/* Animation restaurant valide*/
@mixin check{
    .menu__card--choix--descriptif--valid{
        opacity: 1;
        transform: translate(-3rem);
        transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
    }

    .menu__card--choix--descriptif{
        width: 83%;
        transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
    }

    .fa-circle-check {  
        transform: rotate(360deg);
        transition: transform 500ms ease-in-out;
    }
            
}

/* Responsive*/

@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}
@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}
@mixin media-inter($_min-width,$_max-width) {
    @media screen and (min-width: $_min-width) and (max-width: $_max-width) {
        &{ @content; }
    }
}
    